@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<section class="fadeInDown">
    <div id="animation" style="width: 70%; margin: 0 auto; margin-top: -5%;"></div>
</section>
<section id="search_posts" class="section" style="padding:20px 0;">
    <div class="container">
        <div class="row">
            <div class="title text-center wow fadeInDown">
                <h2>بحث <span class="color">المتقدم </span></h2>
                <div class="border"></div>
            </div>
            <div class="row contact-form">
                <div class="form-group col-md-2 col-sm-6 col-xs-12">
                    <div class="text-center form-group wow fadeInDown">
                        <input type="number" placeholder="ادخال الموديل " class="bo form-control text-right" autocomplete="off" name="model" id="model" />
                    </div>
                </div>
                <div class="form-group col-md-2 col-sm-6 col-xs-12">
                    <div class="text-center form-group wow fadeInUp">
                        <input type="text" placeholder="ادخال اسم الشركة " class="bo form-control text-right" autocomplete="off" name="company" id="company" />
                    </div>
                </div>
                <div class="form-group col-md-2 col-sm-6 col-xs-12 ">
                    <div class="text-center form-group wow fadeInDown">
                        <input type="text" placeholder="ادخال السعر " class="bo form-control text-right" autocomplete="off" name="price" id="price" />
                    </div>
                </div>
                <div class="text-center form-group col-md-2 col-sm-6 col-xs-12  wow fadeInUp">
                    <select class="bo form-control text-right" name="type_id" id="type_id">
                        <option value="0" selected>اختيار تصنيف المنشور</option>
                        <option value="1">سيارات أجرة</option>
                        <option value="2">سيارات صالون</option>
                        <option value="3">سيارات  صغيرة</option>
                        <option value="4">سيارات الحمل</option>
                        <option value="5">دراجات نارية</option>
                        <option value="6">دراجات هوائية</option>
                    </select>
                </div>
                <div class="form-group col-md-2 col-sm-6 col-xs-12">
                    <div class="text-center form-group wow fadeInDown">
                        <input type="text" placeholder="البحث عن الاسم" class="bo form-control text-right" autocomplete="off" name="title" id="title" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="text-center wow fadeInUp">
                        <input type="submit" id="search-btn" class="btn btn-transparent" value="بحث" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog" class="section">
    <div class="container">
        <div class="row">
            <div id="postrow" class="title text-center wow fadeInDown">
                <h2>أخر <span class="color">المنشورات</span></h2>
                <div class="border"></div>
            </div>
            <div id="posts" class="clearfix">
            </div>
        </div>

    </div>
    <div id="animation" style="width: 70%; margin: 0 auto; margin-top: -5%;"></div>
</section>

<div id="mydiv">
    <script>
        var animation = bodymovin.loadAnimation({
            container: document.getElementById('animation'),
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: "lib/lottie/search.json"
        });
        $("#search-btn").on("click", (e) => {
            e.preventDefault();
            var object = {
                model: $("#model").val(),
                company: $("#company").val(),
                price: $("#price").val(),
                type_id: $("#type_id").val(),
                title: $("#title").val(),
            };
            if (object.model.trim() === "" && object.company.trim() === "" && object.price.trim() === "" && object.type_id.trim() === "0" && object.title.trim() === "") {
                toust.warning("يرجى ادخال المعلومات للبحث عنها ");
                return;
            }
            //document.getElementById('animation').style.visibility = "hidden";
            document.getElementById('postrow').style.visibility = "visible";
            $('#posts').empty();
            call_ajax("GET", "Blogs/GetSearchPosts", object, datw);
        });

    </script>

</div>