
@{
    ViewData["Title"] = "profile";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<section class="fadeInDown">
    <div id="animation"  style="width: 30%; margin: 0 auto; margin-top: 2%;"></div>
</section>
<section id="prifile" class="section">
    <div class="container">
        <div class="row">
            <div class="title text-center wow fadeInDown">
                <h2>Information  <span class="color">page</span></h2>
                <div class="border"></div>
            </div>
            <div id="info" class="service-block text-center wow fadeInUp" style="background-color:#171a1d; width:70%;  margin:0 auto;">
            </div>
        </div>
    </div>
</section>
<section id="create_posts" class="section-bg">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="title text-center wow fadeInDown">
                <h2>Create a  <span class="color">Post </span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->
            <div class="text-center wow fadeInDown">

                <a class="btn btn-main" onclick="call_Action('Blogs/posts')" style="margin-bottom:2%;">Create a Post</a>

            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<section id="blog" class="section">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="title text-center wow fadeInDown">
                <h2>Latest<span class="color">Posts</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->
            <div id="posts" class="clearfix">

            </div>
            <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination pagination-lg" id="pagination-wrapper">
                </ul>
            </nav>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<div id="mydiv">
    <script>
        $(document).ready(function () {
            var o = { i: 1 }
            call_ajax("GET", "Blogs/GetPostsProfile", o, buildTableprofile);
            call_ajax("GET", "Account/GetUserInfo", o, userinfo);
        });
        var animation = bodymovin.loadAnimation({
            container: document.getElementById('animation'),
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: "lib/lottie/profile.json"
        })
    </script>
</div>


