
@{
    ViewData["Title"] = "Update_posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="blog" class="section">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="title text-center wow fadeInDown">
                <h2>Update  <span class="color">Post</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->
            <div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">

                <div id="animcar" class="contact-details">
                    @*<img class="img-responsive" style="width:70%;" src="~/images/blog/car.svg" />*@

                </div>
            </div>
            <!-- Contact Form  style="width:80%; margin:0 auto;"-->
            <div class="contact-form  col-md-6  wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                <form id="contact-form" role="form" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" placeholder="Your site"  class="form-control text-right" autocomplete="off" name="address" id="address" />
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" placeholder="Post title"  class="form-control text-right" autocomplete="off" name="title" id="title" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="number" placeholder="price" class="form-control text-right" autocomplete="off" name="price" id="price" />
                        </div>
                        <div class="form-group col-md-6">
                            <input type="number" placeholder="Telephone number" class="form-control text-right" autocomplete="off" name="phone" id="phone" />
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" placeholder="The Company's name" class="form-control text-right" autocomplete="off" name="Company_id" id="Company_id" />
                        </div>
                        <div class="form-group col-md-6">
                            <input type="number" placeholder="Model" class="form-control text-right" autocomplete="off" name="Model" id="Model" />
                        </div>

                    </div>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <input type="file" id="files" name="files" placeholder="Post image"  class="form-control text-right" autocomplete="off" />
                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control text-right" name="type_id" id="type_id">
                                <option value="0" selected>Choose a post rating</option>
                                <option value="1">taxi cars</option>
                                <option value="2">Saloon cars</option>
                                <option value="3">Small cars</option>
                                <option value="4">Carry cars</option>
                                <option value="5">Motorcycles</option>
                                <option value="6">bicycles</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="6"  placeholder="Post details" class="form-control text-right" autocomplete="off" name="commend" id="commend"></textarea>
                    </div>

                    <div id="cf-submit">
                        <input type="submit" id="post" class="btn btn-transparent" value="Update the post">
                    </div>
                    <br />

                    <div id="cf-submit">
                        <input type="button" id="go" class="btn btn-transparent" onclick="call_Action('Blogs/profile')" value="Go to page Home">
                    </div>
                </form>
            </div>
            <!-- ./End Contact Form -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<div id="mydiv">
    <script>
        var animation = bodymovin.loadAnimation({
            container: document.getElementById('animcar'),
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: "lib/lottie/car.json"
        })
        call_ajax("GET", "Blogs/GetPostsId", null, fill);
        function fill(data) {
            console.log(data);
            $("#title").val(data.title);
            $("#address").val(data.address);
            $("#phone").val(data.phone);
            $("#Model").val(data.model);
            $("#price").val(data.price);
            $('#Company_id').val(data.company_id);
           // $("#files").val(data.image);
            $('#type_id').val(data.type_id).change();
            $("#commend").val(data.commend);
        }
        $("#post").on("click", (e) => {
            e.preventDefault();
            var object = {
                title: $("#title").val(),
                address: $("#address").val(),
                phone: $("#phone").val(),
                price: $("#price").val(),
                Company_id: $("#Company_id").val(),
                Model: $("#Model").val(),
                type_id: $("#type_id").val(),
                image: $('#files').val(),
                commend: $("#commend").val(),
            };
            if (object.title === "" || object.title.trim() === "") {
                toust.warning("Please enter the post title");
                return;
            }
            else if (object.address === "" || object.address.trim() === "") {
                toust.warning("Please enter your location");
                return;
            }
            else if (object.phone === "" || object.phone.trim() === "") {
                toust.warning("Please enter the phone number");
                return;
            }
            else if (object.price === "" || object.price.trim() === "") {
                toust.warning("Please enter the price");
                return;
            }
            else if (object.Company_id === "" || object.Company_id.trim() === "") {
                toust.warning("Please enter your company name");
                return;
            }
            else if (object.Model === "" || object.Model.trim() === "") {
                toust.warning("Please enter the model");
                return;
            }
            else if (object.type_id === "" || object.type_id.trim() === "") {
                toust.warning("Please enter post category");
                return;
            }
            else if (object.image === "" || object.image.trim() === "") {
                toust.warning("Please enter a picture");
                return;
            }
            else if (object.commend === "" || object.commend.trim() === "") {
                toust.warning("Please enter post details");
                return;
            }
            call_ajax("POST", "Blogs/UpdatePosts", object, upluad);
        });
       
    </script>
</div>

