@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section style="position:fixed; top:0; left:0; width:100%;">
    <div class="container" style="width:60%; ">
        <div class="text-center price-title wow fadeInDown">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <a class="" asp-controller="Home" asp-action="Index"><i class='icon tf-ion-arrow-left-c' style="font-size:175%;"></i></a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="margin-left:30%">
                    <h3 style="margin-top:-32px;">محسن كاظم عبد الحسن</h3>
                    <span style='float:none;'>07505496065 /رقم الهاتف </span>
                </div>
            </div>
        </div>
    </div>
</section>
<style >
    .dr {
        border-radius: 15px;
        background-color: #2f383d;
        width: 40%;
        margin-left:60%;
        float: left;
        padding: 1%;
        color: #ddd;
    }
    .dl {
        border-radius: 15px;
        background-color: #57cbcc;
        width: 40%;
        margin-right:60%;
        float: left;
        padding: 1%;
        color: #fff;
    }
</style>
<section style="margin-top: 8%; margin-bottom: 8%;">
    <div class="container" style="width: 58%; height: 90%; background-color: transparent;">
        <div class="dl">
            <label>
                i'm Tiret    i'm get up in the morning   at 9:00 a clock to take the  exam
                is very boring  but in the last night  well really becouse i was  play gaming
                ,i'm now sleepy  and exhausted extremely
            </label>
        </div>
        <span style='float:left;'>2/2/2020 /تاريخ الارسال </span>
        <div class="dr">
            <label>
                i'm Tiret    i'm get up in the morning   at 9:00 a clock to take the  exam
                is very boring  but in the last night  well really becouse i was  play gaming
                ,i'm now sleepy  and exhausted extremely
            </label>
        </div>
        <span style='float:right;'>2/2/2020 /تاريخ الارسال </span>
        <div class="dl">
            <label>
                i'm Tiret    i'm get up in the morning   at 9:00 a clock to take the  exam
                is very boring  but in the last night
            </label>
        </div>
        <span style='float:left;'>2/2/2020 /تاريخ الارسال </span>
        <div class="dr">
            <label>
                i'm Tiret    i'm get up in the morning   at 9:00 a clock to take the  exam
                is very boring  but in the last night  well really becouse i was  play gaming
                ,i'm now sleepy  and exhausted extremely
            </label>
        </div>
        <span style='float:right;'>2/2/2020 /تاريخ الارسال </span>
        <div class="dl">
            <label>
                really becouse i was  play gaming
                ,i'm now sleepy  and exhausted extremely
            </label>
        </div>
        <span style='float:left;'>2/2/2020 /تاريخ الارسال </span>
        <div class="dr">
            <label>
                i'm Tiret    i'm get up in the morning   at 9:00 a clock to take the  exam
                is very boring  but in the last night  well really becouse i was  play gaming
                ,i'm now sleepy  and exhausted extremely
            </label>
        </div>
        <span style='float:right;'>2/2/2020 /تاريخ الارسال </span>
    </div>

</section>
<section style="position:fixed; top:88%; left:0px; width:100%;">
    <div class="container" style="width:60%;">
        <div class="text-center price-title">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input style="margin-left:10%; border:1px solid #ffffff" type="text" placeholder=".....اكتب رسالتك " class="bo form-control text-right" autocomplete="off" name="title" id="title" />
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-left:6%">
                    <a class="btn btn-transparent text-center" style="padding: 3px 5px 2px 2px; border-radius: 25px;"><i class='icon tf-ion-android-send' style="font-size: 175%;margin-left: 6px;"></i></a>
                </div>
            </div>
        </div>
    </div>
</section> 
