
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ar" data-textdirection="rtl">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Meghna One page parallax responsive HTML Template ">

    <meta name="author" content="Muhammad Morshed">

    <title>Store Car From Web</title>

    <!-- Mobile Specific Meta
        ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" /> -->
    <!-- CSS
        ================================================== -->
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="~/plugins/themefisher-font/style.css">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="~/plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Animate.css -->
    <link rel="stylesheet" href="~/plugins/animate-css/animate.css">
    <!-- Magnific popup css -->
    <link rel="stylesheet" href="~/plugins/magnific-popup/dist/magnific-popup.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="~/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="~/plugins/slick-carousel/slick/slick-theme.css">
    <link href="~/lib/Toasty/toasty.css" rel="stylesheet" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;700;900&display=swap" rel="stylesheet">

</head>

<body id="body" data-spy="scroll" data-target=".navbar" data-offset="50">

    <script type="text/javascript" src="~/plugins/jquery/dist/jquery.min.js"></script>

    <!-- CUT FROM HERE -->
    <div class="preloader">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>
    <section class="hero-area overlay" style=" background-image: url('/images/banner/background.jpg');">
        <!-- <video autoplay muted loop class="hero-video">
            <source src="images/banner/hero-video.mp4" type="video/mp4">
        </video> -->
        <div class="block">
            <h1 class="header-prmary-main">معرض الألكتروني للسيارات </h1>
            <p class="header-prmary-sub">انضم الينا لانشاء ملف شخصي جديد او لاكتشاف ألسيارات المستعرضة و الرائعة الخاصة بلمشتركين</p>
        </div>
    </section>

    <header id="navigation" class="navbar navigation">
        <div class="containr2 ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav class="collapse navbar-collapse navbar-left" role="Navigation">
                <ul id="nav" class="nav navbar-nav navigation-menu">
                    <partial name="_Partial" />
                </ul>
            </nav>

            <nav class="collapse navbar-collapse navbar-right" role="Navigation">
                <ul id="nav" class="nav navbar-nav navigation-menu">
                    <li><a data-scroll class="header_link" onclick="call_Action('Home/Index')">الرئيسية</a></li>

                    @*if (User.Identity.IsAuthenticated)
                        {*@
                    <li><a data-scroll class="header_link" onclick="call_Action('Home/services')">اختيار المنشورات</a></li>
                    @* } *@
                    <li><a data-scroll class="header_link" onclick="call_Action('Home/team')">المشتركين</a></li>
                    <li><a data-scroll class="header_link" onclick="call_Action('Home/about')">من نحن؟</a></li>
                    <li><a data-scroll class="header_link" onclick="call_Action('Home/counter')">التفاعلات</a></li>
                    <li><a data-scroll class="header_link" onclick="call_Action('Home/contact')">تواصل معنا</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>
    <footer id="footer" class="bg-one">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="500ms">
                <div class="col-lg-12">

                    <!-- Footer Social Links -->
                    <div class="social-icon">
                        <ul class="list-inline">
                            <li><a href=""><i class="tf-ion-social-youtube"></i></a></li>
                            <li><a href=""><i class="tf-ion-social-instagram"></i></a></li>
                            <li><a href=""><i class="tf-ion-social-facebook"></i></a></li>
                            <li><a href=""><i class="tf-ion-social-whatsapp"></i></a></li>
                            <li><a href=""><i class="tf-ion-social-twitter"></i></a></li>
                        </ul>
                    </div>
                    <!--/. End Footer Social Links -->
                    <!-- copyright -->
                    <div class="copyright text-center">
                        <a href="index.html">
                            <!-- <img src="images/logo-meghna.png" alt="Meghna" />  -->
                            <svg width="40px" height="40px" viewBox="0 0 45 44" version="1.1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Group" transform="translate(2.000000, 2.000000)" stroke="#57CBCC"
                                       stroke-width="3">
                                        <ellipse id="Oval" cx="20.5" cy="20" rx="20.5" ry="20"></ellipse>
                                        <path d="M6,7 L33.5,34.5" id="Line-2" stroke-linecap="square"></path>
                                        <path d="M21,20 L34,7" id="Line-3" stroke-linecap="square"></path>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <br />

                        <p>
                            Developed by mohsin kadhem And  Design  <a href="http://www.themefisher.com">Themefisher.com</a>. Copyright
                            &copy;
                            <script>
                                document.write(new Date().getFullYear())
                            </script>. All Rights Reserved.
                        </p>
                    </div>
                    <!-- /copyright -->

                </div> <!-- end col lg 12 -->
            </div> <!-- end row -->
        </div> <!-- end container -->
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="notmodel" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color: #353b43;">
                <div class="modal-header">
                    <div class="clearfix">
                        <button type="button" style="margin-left:10%;" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="font-size:155%">&times;</span>
                        </button>
                        <h3 class="modal-title text-right" id="staticBackdropLabel">الاشعارات</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <div id="note" class="pre-scrollable">
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-transparent" data-dismiss="modal">اغلاق</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="commentmodel" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color: #353b43;">
                <div class="modal-header">
                    <div class="clearfix">
                        <button type="button" style="margin-left:10%;" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="font-size:155%">&times;</span>
                        </button>
                        <h3 class="modal-title text-right" id="staticBackdropLabel">التعليقات</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <div id="commands" class="pre-scrollable">

                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <a class="btn btn-transparent" data-dismiss="modal">اغلاق</a>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="likemodel" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color: #353b43;">
                <div class="modal-header">
                    <div class="clearfix">
                        <button type="button" style="margin-left:10%;" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="font-size:155%">&times;</span>
                        </button>
                        <h3 class="modal-title text-right" id="staticBackdropLabel">الاعجابات</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="pre-scrollable">
                        <div id="like" class="price-title text-right">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-transparent" data-dismiss="modal">اغلاق</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="messagemodel" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color: #353b43;">
                <div class="modal-header">
                    <div class="clearfix">
                        <button type="button" style="margin-left:10%;" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="font-size:155%">&times;</span>
                        </button>
                        <h3 class="modal-title text-right" id="staticBackdropLabel">الرسائل</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <div id="message" class="pre-scrollable">
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-transparent" data-dismiss="modal">اغلاق</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mod" data-backdrop="static" id="image" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: #353b43;">
                <div class="modal-header">
                    <div class="clearfix">
                        <button type="button" style="margin-left:10%;" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="font-size:155%">&times;</span>
                        </button>
                        <h3 class="modal-title text-left" id="staticBackdropLabel">Picture</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div id="setimage1" class="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mod" data-backdrop="static" id="imageall" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:60%" role="document">
            <div class="modal-content" style="background-color: #353b43;">
                <div class="modal-header">
                    <div class="clearfix">
                        <button type="button" style="margin-left:10%;" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="font-size:155%">&times;</span>
                        </button>
                        <h3 class="modal-title text-left" id="staticBackdropLabel">صور</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div id="setimage2" class="w3-content w3-display-container">
                            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="promotmodel" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color: #353b43;">
                <div class="modal-header">
                    <div class="clearfix">
                        <button type="button" style="margin-left:10%;" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="font-size:155%">&times;</span>
                        </button>
                        <h3 class="modal-title text-right" id="staticBackdropLabel">ترويج المنشور</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="number" placeholder="رقم البطاقة" class="form-control text-right" autocomplete="off" name="cardnumber" id="cardnumber" />
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" placeholder="اسم البطاقة" class="form-control text-right" autocomplete="off" name="namecard" id="namecard" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="date" placeholder="تاريخ البطاقة" class="form-control text-right" autocomplete="off" name="exdate" id="exdate" />
                        </div>
                        <div class="form-group col-md-6">
                            <input type="number" placeholder="CIV" class="form-control text-right" autocomplete="off" name="CIV" id="CIV" />
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <a class="btn btn-transparent" data-dismiss="modal">اغلاق</a>
                    <a class="btn btn-transparent">ترويج</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap 3.1 -->
    <script type="text/javascript" src="~/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Slick Carousel -->
    <script type="text/javascript" src="~/plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Portfolio Filtering -->
    <script type="text/javascript" src="~/plugins/filterzr/jquery.filterizr.min.js"></script>
    <!-- Smooth Scroll -->
    <script type="text/javascript" src="~/plugins/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <!-- Magnific popup -->
    <script type="text/javascript" src="~/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Google Map API -->
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>*@
    <!-- Sticky Nav -->
    <script type="text/javascript" src="~/plugins/Sticky/jquery.sticky.js"></script>
    <!-- Number Counter Script -->
    <script type="text/javascript" src="~/plugins/count-to/jquery.countTo.js"></script>
    <!-- wow.min Script -->
    <script type="text/javascript" src="~/plugins/wow/dist/wow.min.js"></script>
    <script src="~/lib/Toasty/toasty.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="~/lib/lottie/lottie.js"></script>
    <script type="text/javascript" src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
    <script type="text/javascript" src="~/js/PBlogsScript.js"></script>

    @*  @RenderSection("Scripts", required: false)*@
    <div id="mydiv">
        <script>
            $(document).ready(function () {
                SetCountNot();
                setCountMessage();
            });
            var slideIndex = 1;
            function plusDivs(n) {
                showDivs(slideIndex += n);
            }
            function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                if (n > x.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = x.length }
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                x[slideIndex - 1].style.display = "block";
            }
        </script>
    </div>
</body>
</html>

