@if (User.Identity.IsAuthenticated)
{
    <li class="lip">
        <a onclick="logut()" class="tf-ion-log-out " style="margin-left:24px; padding:0; font-size:20px;"></a>
        <a onclick="logut()" class="fontsize " style="font-size: 10px;
        font-family: 'Tajawal', sans-serif;
        padding-top: 2px;" data-scroll>تسجيل خروج</a>
    </li>
}
else
{
    <li class="lip">
        <a onclick="call_Action('Account/login1')" class="tf-ion-ios-locked" style="margin-left: 24px; padding:0; font-size: 20px;"></a>
        <a class="fontsize" onclick="call_Action('Account/login1')" style="font-size: 10px;
            font-family: 'Tajawal', sans-serif;
            padding-top: 2px;" data-scroll>دخول</a>
    </li>
}
<li class="lip">
    <a onclick="call_Action('blogs/posts')" class="tf-ion-ios-medkit" style="margin-left:24px; padding:0; font-size:20px;"></a>
    <a onclick="call_Action('blogs/posts')" class="fontsize" style=" font-size: 10px;
        font-family: 'Tajawal', sans-serif;
        padding-top: 2px;" data-scroll>اضافة منشور</a>
</li>
<li class="lip">
    <a onclick="call_Action('blogs/profile')" class="tf-ion-person-stalker" style="margin-left:24px; padding:0; font-size:20px;"></a>
    <a onclick="call_Action('blogs/profile')" class="fontsize" style=" font-size: 10px;
        font-family: 'Tajawal', sans-serif;
        padding-top: 2px;" data-scroll>الصفحة الشخصية</a>
</li>
<li class="lip" style="width:72px;">
    <div>
        <a onclick="GetNotification()" data-toggle="modal" data-target="#notmodel" class="tf-ion-android-notifications" style="margin-left:24px; padding:0; font-size:20px;"></a>
        <span id="GetCountNotifaction" style="color: #fff; background-color: red; border-radius: 50%; padding: 4px 6px; font-size: 9px; position: absolute; top: -11px; right: 23px; ">0</span>
    </div>
    <a onclick="GetNotification()" data-toggle="modal" data-target="#notmodel" class="fontsize" style="font-size: 10px;
        font-family: 'Tajawal', sans-serif;
        padding-top: 2px;" data-scroll>الاشعارات</a>
</li>
<li class="lip" style="width:72px;">
    <div>
        @*onclick="call_Action('Chat/Chat')"*@
        <a onclick="GetMessage()" class="tf-ion-ios-email" data-toggle="modal" data-target="#messagemodel" style="margin-left:24px; padding:0; font-size:20px;"></a>
        <span id="GetCountMessage" style="color: #fff; background-color: red; border-radius: 50%; padding: 4px 6px; font-size: 9px; position: absolute; top: -11px; right: 23px; ">0</span>
    </div>
    <a onclick="GetMessage()" data-toggle="modal" data-target="#messagemodel" class="fontsize" style="font-size: 10px;
        font-family: 'Tajawal', sans-serif;
        padding-top: 2px;">الرسائل</a>
</li>
<li class="lip">
    <a onclick="call_Action('blogs/Advanced_Search')" class="tf-ion-android-search" style="margin-left:24px; padding:0; font-size:20px;"></a>
    <a onclick="call_Action('blogs/Advanced_Search')" class="fontsize" style="font-size: 10px;
        font-family: 'Tajawal', sans-serif;
        padding-top: 2px;" data-scroll>بحث المتقدم</a>
</li>

<!--}
else
{-->
@*<li class="lip">
        <a onclick="call_Action('Account/signup')" class="tf-ion-android-person-add " style="margin-left:24px; padding:0; font-size:20px;"></a>
        <a onclick="call_Action('Account/signup')" class="fontsize" style="font-size: 10px;
        font-family: 'Tajawal', sans-serif;
        padding-top: 2px;" data-scroll>تسجيل</a>
    </li>*@
<!--}-->
