
@{
    ViewData["Title"] = "about";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section class="section about-2 padding-0 bg-dark" id="about">
    <div class="container-fluid">
        <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
            <h2>من <span class="color"> نحن؟</span></h2>
            <div class="border"></div>
        </div>
        <div class="row">
            <div class="col-md-6 padding-0 ">
                <img class="img-responsive" src="images/team/mohsen.jpg" alt="">
            </div>
            <div class="col-md-6">
                <div class="content-block">
                    <p class="text-right">صمم هذا الموقع بواسطة </p>
                    <h2 class="text-right ">المبرمج محسن كاظم عبد الحسن </h2>
                    <br />
                    <h4 class="text-right">اهداف الموقع</h4>
                    <p class="text-right">تسهيل الامور للعميل   <i style="margin-left:10px;" class="tf-ion-checkmark-circled"></i></p>
                    <p class="text-right"> تسهيل عملية بيع السياره  <i style="margin-left:10px;" class="tf-ion-checkmark-circled"></i></p>
                    <p class="text-right"> تسهيل عملية شراء السياره  <i style="margin-left:10px;" class="tf-ion-checkmark-circled"></i></p>
                    <p class="text-right"> تسهيل عمليةالبحث عن السياره المطلوبة  <i style="margin-left:10px;" class="tf-ion-checkmark-circled"></i></p>
                    <p class="text-right"> يتميز موقعنا بلواجهات السهله والرائعة   <i style="margin-left:10px;" class="tf-ion-checkmark-circled"></i></p>
                    <p class="text-right"> يمكن التواصل مع البائع   <i style="margin-left:10px;" class="tf-ion-checkmark-circled"></i></p>
                    <p class="text-right"> يمكنك النشر المنشورات بسهوله ومجانا  <i style="margin-left:10px;" class="tf-ion-checkmark-circled"></i></p>
                    <p class="text-right"> يمكنك امتلاك حسابك الخاص والنشر وتسجيل دخولك من خلال هاتفك المحمول  <i style="margin-left:10px;" class="tf-ion-checkmark-circled"></i></p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="media">
                                <div class="pull-right">
                                    <i class="tf-circle-compass"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading text-right ">سهوله البحث</h4>
                                    <p> يمكن البحث عن السيارة التي تعجبك من خلال البحث المتقدم  ومن ثم يمكن التواصل مع البائع لغرض شراء السيارة</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <div class="pull-right">
                                    <i class="tf-hotairballoon"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading text-right ">سهوله التعامل مع الموقع </h4>
                                    <p> يمكن التصفح بامان وانشاء منشوراتك وحذفها وتعديلها ويمكن التعليق والاعجاب بلمنشورات وابداء رايك ويمكن رؤية التعليقات  داخل المنشور   </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

