
@{
    ViewData["Title"] = "about";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section class="section about-2 padding-0 bg-dark" id="about">
    <div class="container-fluid">
        <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
            <h2>who <span class="color"> are we?</span></h2>
            <div class="border"></div>
        </div>
        <div class="row">
            <div class="col-md-6 padding-0 ">
                <img class="img-responsive" src="images/team/mohsen.jpg" alt="">
            </div>
            <div class="col-md-6">
                <div class="content-block">
                    <p class="text-right">This site was designed by</p>
                    <h2 class="text-right ">Programmer Mohsen Kazem Abdul Hassan </h2>
                    <br />
                    <h4 class="text-right">The goals of the site</h4>
                    <p class="text-right">Facilitate things for the customer <i style="margin-left:10px;" class="tf-ion-checkmark-circled"></i></p>
                    <p class="text-right"> Facilitate the process of selling the car <i style="margin-left:10px;" class="tf-ion-checkmark-circled"></i></p>
                    <p class="text-right"> Facilitate the car purchase process  <i style="margin-left:10px;" class="tf-ion-checkmark-circled"></i></p>
                    <p class="text-right"> Facilitate the search for the required car  <i style="margin-left:10px;" class="tf-ion-checkmark-circled"></i></p>
                    <p class="text-right"> Our site is characterized by easy and wonderful interfaces   <i style="margin-left:10px;" class="tf-ion-checkmark-circled"></i></p>
                    <p class="text-right"> Can communicate with the seller  <i style="margin-left:10px;" class="tf-ion-checkmark-circled"></i></p>
                    <p class="text-right"> You can publish publications easily and for free  <i style="margin-left:10px;" class="tf-ion-checkmark-circled"></i></p>
                    <p class="text-right"> You can own your account, publish, and log in with your mobile phone  <i style="margin-left:10px;" class="tf-ion-checkmark-circled"></i></p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="media">
                                <div class="pull-right">
                                    <i class="tf-circle-compass"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading text-right ">Ease of searching</h4>
                                    <p> You can search for the car you like through the advanced search, and then you can contact the seller for the purpose of purchasing the car</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <div class="pull-right">
                                    <i class="tf-hotairballoon"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading text-right ">Ease of dealing with the site </h4>
                                    <p> You can browse safely and create, delete and modify your posts, you can comment and like the posts and express your opinion, and the comments can be seen within the post  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

