
@{
    ViewData["Title"] = "contact";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section id="contact-us" class="contact-us section-bg">
    <div class="container">
        <div class="row">
            <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                <h2>Connect <span class="color"> with us</span></h2>
                <div class="border"></div>
            </div>
            <div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
                <h3>Contact Information</h3>
                <div class="contact-details">
                    <div class="con-info clearfix">
                        <i class="tf-map-pin"></i>
                        <span>Baghdad, Al-Hurriya, Al-Dawaii </span>
                    </div>

                    <div class="con-info clearfix">
                        <i class="tf-ion-ios-telephone-outline"></i>
                        <span>Phone: 07505496065</span>
                    </div>

                    <div class="con-info clearfix">
                        <i class="tf-ion-iphone"></i>
                        <span>Fax: +880-31-000-000</span>
                    </div>

                    <div class="con-info clearfix">
                        <i class="tf-ion-ios-email-outline"></i>
                        <span>Email: mohsenkadm123@gmail.com</span>
                    </div>
                </div>
            </div>
            <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                <form id="contact-form" method="post" action="sendmail.php" role="form">

                    <div class="form-group">
                        <input type="text" placeholder="Name" autocomplete="off" class="form-control" name="name" id="name">
                    </div>

                    <div class="form-group">
                        <input type="email" placeholder="E-mail" autocomplete="off" class="form-control" name="email" id="email">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Subject" autocomplete="off" class="form-control" name="subject" id="subject">
                    </div>

                    <div class="form-group">
                        <textarea rows="6" placeholder="your letter" autocomplete="off" class="form-control" name="message" id="message"></textarea>
                    </div>

                    <div id="mail-success" class="success">
                        Thank you. The Mailman is on His Way :)
                    </div>

                    <div id="mail-fail" class="error">
                        Sorry, don't know what happened. Try later :(
                    </div>

                    <div id="cf-submit">
                        <input type="submit" id="contact-submit" class="btn btn-transparent" value="send">
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
