@{
    ViewData["Title"] = "Home Page";

    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section id="body" class="call-to-action section-sm bg-1 overly">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Browse modern and old cars reviewed on the site</h2>
                <p>Our website allows you to browse the displayed cars<br /> and it also gives you a modern way to communicate with the seller </p>
                <a onclick="call_Action('Home/services')" class="btn btn-main btn-animated">Start your journey with us now</a>

            </div>
        </div>
    </div>
</section>
