@{
    ViewData["Title"] = "Home Page";

    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section id="body" class="call-to-action section-sm bg-1 overly">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 >تصفح السيارات الحديثة والقديمة المستعرضة داخل الموقع</h2>
                <p  >يتيح لكم موقعنا امكانية تصفح السيارات المستعرضة<br>كما  يمنحك طريقة حديثة لتواصل مع البائع  </p>
                <a onclick="call_Action('Home/services')"  class="btn btn-main btn-animated">ابدا رحلتك  معناالان</a>

            </div>
        </div>
    </div>
</section>
