
@{
    ViewData["Title"] = "services";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<section id="services" class="bg-one section">
    <div class="container">
        <div class="row">
            <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                <h2>Selection <span class="color"> of publications</span></h2>
                <div class="border"></div>
            </div>
            <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <img class="img-responsive" style="width:23%; margin:0 auto;" src="~/images/blog/taxi.svg" />
                    </div>
                    <h3>taxi cars</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
                    <br />
                    <a class="btn btn-transparent" onclick="call_Action('Blogs/Index/1')">View publications</a>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <img class="img-responsive" style="width:23%; margin:0 auto;" src="~/images/blog/microbus.svg" />
                    </div>
                    <h3>Saloon cars</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
                    <br />
                    <a class="btn btn-transparent" onclick="call_Action('Blogs/Index/2')"> View publications</a>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <img class="img-responsive" style="width:23%; margin:0 auto;" src="~/images/blog/car.svg" />
                    </div>
                    <h3>Small cars </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
                    <br />
                    <a class="btn btn-transparent" onclick="call_Action('Blogs/Index/3')">View publications</a>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <img class="img-responsive" style="width:23%; margin:0 auto;" src="~/images/blog/truck.svg" />
                    </div>
                    <h3>Carry cars </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
                    <br />
                    <a class="btn btn-transparent" onclick="call_Action('Blogs/Index/4')">View publications</a>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <img class="img-responsive" style="width:23%; margin:0 auto;" src="~/images/blog/motorbike.svg" />
                    </div>
                    <h3>Motorcycles</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
                    <br />
                    <a class="btn btn-transparent" onclick="call_Action('Blogs/Index/5')">View publications</a>
                </div>
            </article>
            <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="service-block text-center kill-margin-bottom">
                    <div class="service-icon text-center">
                        <img class="img-responsive" style="width:23%; margin:0 auto;" src="~/images/blog/bicycle.svg" />
                    </div>

                    <h3>bicycles</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
                    <br />
                    <a class="btn btn-transparent" onclick="call_Action('Blogs/Index/6')">View publications</a>
                </div>
            </article>
        </div>
    </div>
</section>



